@{
    ViewData["Title"] = "Search";
}

<div class="row">
    <div class="col-md-12">
        <h3>Direct Input</h3>
        <hr />
        <div class="card rounded shadow">
            <div class="card-header">
                Search for Student
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Student Id</option>
                                <option>Matric Number</option>
                                <option>Name</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary navbar-inverse rounded">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-3 border rounded shadow mt-3">
            <table id="tblData" class="table table-striped table-bordered" style="width: 100%">
                <thead class="thead-light">
                    <tr class="table-info">
                        <th>StudentID</th>
                        <th>Mat. Number</th>
                        <th>Surname</th>
                        <th>Firstname</th>
                        <th>Middle</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/searchstudents.js"></script>
}