a {
    color: #8A0474;
}

    a:hover {
        color: #4e0242;
    }

.topbar a {
    color: white;
}

.navbar-inverse {
    background-color: #4e0242;
    background-image: -webkit-linear-gradient(top, #4e0242 0%, #8A0474 100%);
    background-image: linear-gradient(to bottom, #4e0242 0%, #8A0474 100%);
    background-repeat: repeat-x;
}

    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
        color: #cccccc;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > .active > a,
        .navbar-inverse .navbar-nav > .active > a:hover,
        .navbar-inverse .navbar-nav > .active > a:focus {
            color: #ffffff;
            background-color: #8A0474;
            background-image: none;
            background-image: none;
            filter: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    .navbar-inverse .navbar-toggle {
        border-color: #8A0474;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #8A0474;
        }

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #8A0474;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #8A0474;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #868e96;
    pointer-events: none;
    background-color: transparent
}